@{
    ViewBag.Title = Resource.CarDiagram;
}

<div class="page-title">
    <div class="title_left">
        <h3>@Resource.CarDiagram</h3>
    </div>
    <div class="title_right">
        <div class="pull-right">
            @Html.ActionLink(@Resource.Create, "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="main-content">
    <div class="pull-left">
        <h5>
            <span class="field-validation-error" id="error_message">
            </span>
        </h5>
    </div>
    <div id="list">
        @{Html.RenderAction("CarDiagramsList", "CarDiagram");}
    </div>
</div>


@section scripts{
    <script>

    $(document).ready(function () {
        // delete item
        $('.delete_item').on('confirmed.bs.confirmation', function (event) {

            var deleteUrl = '@Url.Action("Delete", "CarDiagram")' + "/" + $(this).attr('id');
            $.post(deleteUrl, function (data) {
                if (data.length != 0) {
                    $('#list').html(data);
                } else {
                    $('#error_message').html('@Resource.ExistForeignKeyError');
                }
            });
        })
    });


    </script>
}