<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TABWEB</title>
    
    @Styles.Render("~/Content/css")
   
    @RenderSection("css", required: false)

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-paw"></i> <span>TABWEB!</span></a>
                    </div>
                    <div class="clearfix"></div>             
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*<h3>@Resource.Content</h3>*@
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">
                                        <i class="fa fa-home"></i>Trang chính
                                    </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-share-square-o"></i>Quản lý tuyến<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Quản lý bến xe", "Index", "BusStation")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Quản lý tuyến xe", "Index", "Channel")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-object-group"></i>Quản lý xe khách<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink(string.Format(Resource.ListOf, Resource.Car.ToLower()), "Index", "Car")
                                        </li>
                                        <li>
                                            @Html.ActionLink(@Resource.CarDiagram, "Index", "CarDiagram")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-picture-o"></i>Quản lý chuyến đi<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Danh sách chuyến đi", "Index", "Schedule")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-chain"></i>Quản lý vé<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Đặt vé", "Index", "Link")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Bán vé", "Index", "Order")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Tra cứu vé", "TicketSearch", "Order")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shopping-bag"></i>Lập báo cáo<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Báo cáo doanh thu theo tháng", "ReportByMonth", "Report")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Báo cáo doanh thu theo năm", "ReportByYear", "Report")
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="menu_section">
                            <h3>Hệ thống</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-users"></i>Tài khoản<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Danh sách tài khoản", "Index", "Account")
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout", "Login")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Images/img.jpg" alt="">@User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Account")">
                                            <i class="fa fa-sign-out pull-right"></i>Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" id="main-body">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    TABWEB - <a href="http://honrang.com/">Powered by HON RANG.</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin")

    @RenderSection("scripts", required: false)
    <script>

    // setup boostrap confirmation
        $(document).ready(function () {
            $('[data-toggle="confirmation"]').confirmation({
                placement: 'left',
                title: '@Html.Raw(Resource.DeleteConfirmation)',
                btnOkLabel: '@Html.Raw(Resource.Delete)',
                btnCancelLabel: '@Html.Raw(Resource.Cancel)'
            });
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('.confirmation.popover').length) {
                $('[data-toggle="confirmation"]').confirmation('hide');
            }
        })

        // end

        // initial datetime picker
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'HH:mm DD/MM/YYYY',
                defaultDate: '@DateTime.Now.ToString()'
            });
        });
    </script>
</body>
</html>