@model CarManager.Areas.Admin.Models.CarModel
@{
    var carDiagrams = @ViewBag.CarDiagrams as SelectList;
    int? IdCarDiagram = carDiagrams.Select(o => int.Parse(o.Value)).First();
}
@Html.HiddenFor(model => model.IdCar)
<div class="form-group">
    @Html.LabelFor(model => model.CarNumberPlate, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.CarNumberPlate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CarNumberPlate)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdCarDiagram, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.DropDownListFor(model => model.IdCarDiagram, carDiagrams, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdCarDiagram)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.TotalSeat, new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
    <div class="col-md-10 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.TotalSeat, new { @class = "form-control", @readonly = true })
        @Html.ValidationMessageFor(model => model.TotalSeat)
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9 col-xs-12" id="placeSeat">
        @{Html.RenderAction("SeatChart", "Car", new { IdCarDiagram = IdCarDiagram });}
    </div>
</div>