@model CarManager.Areas.Admin.Models.AccountModel
@{
    ViewBag.Title = Resource.Account;

    string actionName = "";
    string title = "";
    int[] idRoles = new int[] { };
    if (ViewBag.IsInsert)
    {
        actionName = "Create";
        title = @Resource.Create;

        ViewBag.AccountRole = idRoles;
    }    
}

<div class="page-title">
    <div class="title_left">
        <h3>
            @Resource.Account
            <small>@title</small>
        </h3>
    </div>
</div>

<div class="main-content">
    @using (Html.BeginForm(@actionName, "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9 col-xs-12">
                    <input type="submit" value="@Resource.Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-default">@Resource.BackToList</a>
                </div>
            </div>
        </div>
    }
</div>


@section scripts{
    <script>
        
        $(document).ready(function () {

            var roles = [@(string.Join(", ", (int[])ViewBag.AccountRole))];
            $("#SelectedValues").val(roles);

            $('select').select2({
                theme: "bootstrap"
            });
        });
    </script>
}